* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
#app {
  font-family: sans-serif;
  color: #2c3e50;
  text-align: center;
  background: #0f2027;
  background: -webkit-linear-gradient(to right, #0f2027, #203a43, #2c5364);
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
  background-size: cover;
  min-height: 100vh;
}
h1 {
  font-family: 'Lato', sans-serif;
  font-size: 30px;
  padding-block: 30px;
  text-align: center;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
}
h1.title {
  color: #202020;
  letter-spacing: 0.1em;
  text-shadow: -1px -1px 1px #111, 2px 2px 1px #363636;
}
h2 {
  color: #fff;
  font-family: 'Lato', sans-serif;
}
.board {
  display: grid;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: repeat(4, 100px);
  grid-gap: 15px;
  justify-content: center;
  padding-bottom: 30px;
}

.button {
  background-color: lightsalmon;
  border: none;
  outline: none;
  padding: 0.4rem 1rem;
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 10px;
  border-radius: 10px;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
.button img {
  padding-right: 5px;
}
.shuffle_card-move {
  transition: transform 0.8s ease-in;
}

.card {
  position: relative;
  transition: 0.5s transform ease-in;
  transform-style: preserve-3d;
}
.card.is_flipped {
  transform: rotateX(180deg);
}
.card-face {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s ease-in-out;
  backface-visibility: hidden;
}
.card-face:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.card-face.is-front {
  background-image: url('/images/card-front.png');
  color: #fff;
  transform: rotateX(180deg);
}
.card-face.is-back {
  background-image: url('/images/card-back.png');
  color: #fff;
}
.checkmark {
  position: absolute;
  left: 5px;
  top: 5px;
  width: 20px;
  height: 20px;
}

.btns {
  margin-bottom: 10px;
}
